{% extends 'base.html' %}

{% block title %}
	About 
{% endblock %}

{% block content %}

<div class="shadow-lg p-3 mb-5 bg-body rounded">
	
	David has more than 10years experience in computer programming language and also a strong experience in Python programming and System administration. He also has varieties of experiences in working with Django, Flask, AWS, Heroku <a href="https://bit4blog.herokuapp.com"> <i>https://bit4blog.herokuapp.com</i></a>, Linux and is competent in Ethical Hacking and phone forensic analysis. He has installed, configured and maintained Computer software and hardwares for Windows, Mac and Linux systems. 

	He has equally developed a handful of projects ranging from web development, data analysis and automating repetitive processes. He has used raspberry pi and other microcontrollers for the automation of processes, Designed and printed PCB with Eagle Software. 

	Presently, He is looking for a remote job for the role of Python Developer, Back End Developer, Embedded Software Engineer, Automation Engineer or Electronic Engineer.

    <br/><br/>
	Contacts: 	<a href="https://www.linkedin.com/in/chukwunonso-ilonze-50478996/"> <i>https://www.linkedin.com/in/chukwunonso-ilonze-50478996/</i></a><br>
                <a href="https://github.com/ndavilo"> <i>https://github.com/ndavilo</i></a><br>
                <a href="mailto:nonsoilonze@gmail.com">nonsoilonze@gmail.com</a><br>
				<a href="tel:+2348161417166">+2348161417166</a>
</div>

{% endblock %}