{% extends 'base.html' %}
{% block title %}
	LENDIGO NEWS
{% endblock %}

{% block content %}
{% for post in page_obj %}
<div class="shadow-sm p-3 mb-5 bg-body rounded">
	<center>
 	<h2><strong>{{ post.title }} </strong><br/></h2> - by: {{ post.by }}  - {{ post.date_time }} 
		{% if user.is_staff %}
			{% if post.code %}
			{%else%}
				<small><a href="{% url 'update' post.pk %}" class="btn btn-warning"> Edit </a></small>
				<small><a href="{% url 'delete' post.pk %}" class="btn btn-warning"> Delete </a></small>
			{% endif %}
		{% endif %}
	</br><a href="{{post.urls}}" target="_blank" rel="noopener noreferrer">{{post.urls}}</a> {% if post.body %}{{ post.body|slice:":200"|safe }}{% endif %}
	<form action="{% url 'article_detail' post.pk %}" method="get">
	 	<input type="hidden" name="post-id" value="{{post.id}}">
	 	<button type="submit" class="btn btn-sm btn-warning"> View</button>
 	</form> {{ post.total_likes }} Likes
 	</center>
</div>
{% endfor %}
{% endblock %}

{% block bottom %}
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-xl">   	
				 
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
			  <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
			</svg>previous</a>
        {% endif %}

        <a href="#">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </a>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
			  <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
			</svg></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;
            </a>
        {% endif %}
      </div>
    </nav>
    <script language="javascript">
		setInterval(function(){
		   window.location.reload(1);
		}, 50000);
	</script>
{% endblock %}